textarea {
    width: 100%;
    min-height: 80vh;
    border-radius: 3px;
    resize: none;
    border: none;
    outline: none;
}

form#form-login {
    width: 100%;
    max-width: 500px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

form#form-login button#btn-login {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background-color: #FFF;
}

footer {
    width: 100%;
    color: #FFF;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: rgb(1, 135, 224);
}

.container-unipad a {
    text-decoration: none;
    color: #FFF;
}

.titulo-status {
    height: 20px;
    text-align: center;
    background-color: #2F3437;
    color: #FFF;
}

.div-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carregando-pad{
    width: 100%;
    height: 250px;
    max-width: 600px;
    margin: auto;
    background-color: #373C3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}