textarea {
    width: 100%;
    min-height: 80vh;
    border-radius: 3px;
    resize: none;
    border: none;
    outline: none;
}

footer {
    width: 100%;
    color: #FFF;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: rgb(1, 135, 224);
}

.container-unipad a {
    text-decoration: none;
    color: #FFF;
}

.titulo-status {
    height: 20px;
    text-align: center;
    background-color: #2F3437;
    color: #FFF;
}